# Python Basics

## Exercícios módulo 01

### 01

In [3]:
valor = int(input("Informe um valor"))

novo_valor = valor*0.85

print(f'O valor é {novo_valor}')

Informe um valor100
O valor é 85.0

### 02

In [6]:
def valida_idade():
    idade = int(input("Informe uma idade entre 0 e 150"))
    if(not (idade>=0 and idade <=150)):
        print("Idade inválida")
        

valida_idade()

Informe uma idade entre 0 e 150180
Idade inválida

In [9]:
def valida_salario():
    salario = int(input("Informe um salário maior que zero"))
    if(salario <=0):
        print("Salário inválida")
        

valida_salario()

Informe um salário maior que zero0
Salário inválida

In [11]:
def valida_sexo():
    sexo = input("Informe um sexo ")
    if(not(sexo=="M" or sexo == "F" or sexo=="Outro")):
        print("sexo inexistente")
    else:
        print("ok")
        

valida_sexo()

Informe um sexoE
sexo inexistente

### 03

In [9]:
def verifica_pontos(pontos):
    if pontos == 5:
        print("Você é o assasino")
    elif pontos == 4 or pontos == 3:
        print("Você é cumplice")
    elif pontos == 2:
        print("Você é suspeito")
    else:
        print("Liberado")

In [19]:
def quem_eh_assassino():
    a = input("Mora perto da vítima? ")
    b = input("Já trabalho com a vítima? ")
    c = input("Telefonou para a vítima? ")
    d = input("Esteve no local do crime? ")
    e = input("Devia para a vítima?")
    
    respostas = [a,b,c,d,e]
    pontos = 0
    
    for r in respostas:
        if r.upper() == "SIM":
            pontos += 1
    
    verifica_pontos(pontos)

In [20]:
quem_eh_assassino()

Mora perto da vítima? não
Já trabalho com a vítima? sim
Telefonou para a vítima? sim
Esteve no local do crime? não
Devia para a vítima?sim
Você é cumplice

In [6]:
quem_eh_assassino()

Mora perto da vítima? não
Já trabalho com a vítima? sim
Telefonou para a vítima? sim
Esteve no local do crime? sim
Devia para a vítima?sim
Você é cumplice

### 04

In [2]:
def tabuada(n):
    for i in range(1,11):
        print(f' {n} x {i} = {n*i} ')
tabuada(9)

 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81
 9 x 10 = 90

## Exercícios Módulo 2

### 01

In [3]:
def lista_par(lista):
    lista_par = []
    for n in lista:
        if n%2==0:
            lista_par.append(n)
            
    print(f'{len(lista_par)} elementos são pares')
    
lista_par([1,2,3,4,5,6])

3 elementos são pares

### 02

In [8]:
def qual_palavra():
    palavra = input("Digite uma palavra: ")
    return palavra

def imprime_letras(palavra):
    for l in palavra:
        print(l)
        
imprime_letras(qual_palavra())

Digite uma palavra: alvaro
a
l
v
a
r
o

### 03

In [14]:
def soma_listas(lista1,lista2):
    lista_soma = []
    for i in range(len(lista1)):
        item_soma = lista1[i] + lista2[i]
        lista_soma.append(item_soma)
        
    print(lista_soma)
    
soma_listas([1,4,3],[3,5,1])

[4, 9, 4]

### 04

In [18]:
ano = {
    'Janeiro':31,
    'Fevereiro':28,
    'Março':31,
    'Abril':30,
    'Maio':31,
    'Junho':30,
    'Julho':31,
    'Agosto':31,
    'Setembro':30,
    'Outubro':31,
    'Novembro':30,
    'Dezembro':31
}

### 05

In [19]:
for chave in ano:
    print(f'{chave}: {ano[chave]}')

Janeiro: 31
Fevereiro: 28
Março: 31
Abril: 30
Maio: 31
Junho: 30
Julho: 31
Agosto: 31
Setembro: 30
Outubro: 31
Novembro: 30
Dezembro: 31

## Exercícios Módulo 03

### 01

In [1]:
import csv

In [2]:
with open('alunos.csv','r',encoding='utf-8') as arquivo_csv:
    reader = csv.reader(arquivo_csv)
    for line in reader:
        print(line)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']
['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6']
['110212', 'Ana Beatriz', '20', '7', '7', '7', '8']
['110218', 'Carlos Vernes', '17', '7', '7', '7', '7']
['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10']
['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7']
['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8']
['110301', 'Joao Galo', '20', '5', '6.5', '7', '5']
['110263', 'José Valente', '20', '10', '10', '10', '10']
['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10']
['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']

### 02

In [ ]:
dados = []

with open('alunos.csv','r',encoding='utf-8') as arquivo_csv:
    
    reader = csv.reader(arquivo_csv)
    for line in reader:
        dados.append(line)

print(dados)

In [7]:

with open('alunos_copia.csv','w',newline='') as copia_csv:
    writer = csv.writer(copia_csv)
    writer.writerows(dados)
    
with open('alunos_copia.csv','r') as arquivo_copia_csv:
    reader = csv.reader(arquivo_copia_csv)
    for line in reader:
        print(line)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']
['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6']
['110212', 'Ana Beatriz', '20', '7', '7', '7', '8']
['110218', 'Carlos Vernes', '17', '7', '7', '7', '7']
['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10']
['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7']
['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8']
['110301', 'Joao Galo', '20', '5', '6.5', '7', '5']
['110263', 'José Valente', '20', '10', '10', '10', '10']
['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10']
['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']

### 03

In [31]:
dados = []

with open('alunos.csv','r',encoding='utf-8') as arquivo_csv:
    
    reader = csv.reader(arquivo_csv)
    header = next(reader)
    for line in reader:
        dados.append(line)
print(header)
print(dados)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']
[['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6'], ['110212', 'Ana Beatriz', '20', '7', '7', '7', '8'], ['110218', 'Carlos Vernes', '17', '7', '7', '7', '7'], ['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10'], ['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7'], ['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8'], ['110301', 'Joao Galo', '20', '5', '6.5', '7', '5'], ['110263', 'José Valente', '20', '10', '10', '10', '10'], ['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10'], ['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']]

In [33]:
header.append('Média')
with open('alunos_media.csv','w',newline='') as media_csv:
    writer = csv.writer(media_csv)
    writer.writerow(header)
    writer.writerows(dados)

with open('alunos_media.csv','r') as arquivo_media:
    reader = csv.reader(arquivo_media)
    next(reader)
    for line in reader:
        media = (float(line[3])+float(line[4])+float(line[5])+float(line[6]))/4
        line.append(media)

In [34]:
with open('alunos_media.csv','r') as arquivo_ver:
    reader = csv.reader(arquivo_ver)
    for line in reader:
        print(line)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4', 'Média']
['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6']
['110212', 'Ana Beatriz', '20', '7', '7', '7', '8']
['110218', 'Carlos Vernes', '17', '7', '7', '7', '7']
['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10']
['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7']
['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8']
['110301', 'Joao Galo', '20', '5', '6.5', '7', '5']
['110263', 'José Valente', '20', '10', '10', '10', '10']
['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10']
['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']

### 04

In [35]:
import requests as r

In [36]:
url = "https://swapi.dev/api/people/4/"

In [37]:
resp = r.get(url)

In [38]:
dado = resp.json()

In [39]:
dado

{'name': 'Darth Vader',
 'height': '202',
 'mass': '136',
 'hair_color': 'none',
 'skin_color': 'white',
 'eye_color': 'yellow',
 'birth_year': '41.9BBY',
 'gender': 'male',
 'homeworld': 'https://swapi.dev/api/planets/1/',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': [],
 'starships': ['https://swapi.dev/api/starships/13/'],
 'created': '2014-12-10T15:18:20.704000Z',
 'edited': '2014-12-20T21:17:50.313000Z',
 'url': 'https://swapi.dev/api/people/4/'}

In [42]:
infos = ['name','height','mass','birth_year']

for info in infos:
    print(dado[info])

Darth Vader
202
136
41.9BBY

### 05

In [47]:
import datetime as dt

url = "https://api.covid19api.com/country/brazil"
resp = r.get(url)
dados = resp.json()
data = dados[0]['Date'][:9]

print(dt.datetime.strptime(data,'%Y-%m-%d'))

2020-01-02 00:00:00